/*Geral*/ 

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #3e71fd;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 0px 15px 10px black;
}

header nav{
font-size: 25px;
margin-right: 10%;

}

header img{
max-width: 80%;
max-height:80%;
}

header nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

header nav a:hover{
    text-decoration: underline;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}


/*Home*/


/*Sobre*/
h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: bold;
    font-style: italic;
}

.sobre{
    padding-top: 30px;

color:rgb(0, 0, 0);
}

.sobre img{
width:300px;
padding-left: 20px;
padding-right: 20px;
max-width: 300px;
max-height: 300px;

}


.sobre p{
    font-size: 40px;
    padding-bottom:60px ;
}

.img-txt{
display: flex;
padding-bottom: 300px;
padding-left: 40px;
}

.sobre h1{
    padding-top: 200px;
}

strong{
    font-weight: bold ;
}

.azul{
    color: rgb(0, 110, 255);
    font-style: italic;
    font-weight: bold;
}


/*Servicos*/
.servicos{
    background-color:rgb(255, 255, 255);
    padding-top: 5px;
    color:rgb(0, 0, 0);
}

.servicos article{
   display: flex;
   width: 50%;
   margin:auto;
}

.servicos article img{
    max-width: 50%;
    max-height: 50%;
    box-shadow: 20px 20px 20px 0px black;
    opacity: 1;
    transition: 400ms;
}

.servicos article ul{
    font-size: 19px;
    margin-right: 20px;
    margin-top: 20px;

}

.servicos article ul li{
line-height: 1.5;
font-size: 30px;
}

.servicos article ul li:first-child{
    font-weight: bold;
}

.servicos article ul li::before{
    content: "+";
}

.servicos article img{
    margin-bottom: 200px;
}

.servicos article img:hover{
    opacity: 0.3;
 
}

/*Produtos*/


.produtos img{
    max-width: 50%;
    max-height: 50%;
    box-shadow: 20px 20px 20px 0px black;
    opacity: 1;
    transition: 400ms;
    margin-left: 25%;
    margin-bottom: 100px;
}

.produtos img:hover{
    opacity: 0.3;
 
}

.a{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-bottom: 120px;
    padding-right: 10%;
}

.a img{

    max-width: 50%;
    max-height: 50%;
    box-shadow: 20px 20px 20px 0px black;
    opacity: 1;
    transition: 400ms;
    margin-left: 250px;
}

.a img:hover{
    opacity: 0.3;
 
}


/*Servicos*/
.Opcoes{
    display: flex;
    text-align: center;
    margin-left: 15%;
}

.Opcoes p{
    font-size: 20px;
    margin-bottom: 10px;
}

.Opcoes strong{
font-size: 20px;
}

.Opcoes :hover{
    color: rgb(4, 0, 255);
    border-color:rgb(4, 0, 255);
}

.op{
    width: auto;
    padding-bottom: 10px;
    margin: 10px;
    border: solid;
    border-color: black;
    border-radius: 40px;

    margin-bottom: 100px;
    margin-top: 100px;
    
}

.op p{
    width: 600px;
    text-align: center;
}

.op img{
    width: 450px;
    height: 450px;
}

/*contato*/


.estabelecimento{
    color: rgb(62, 113, 253);
    padding-top: 20px;
    display: flex;
margin-left: 35%;
margin-top: 50px;
}

.estabelecimento p{

font-size: 30px;
padding-bottom: 30px;
text-align: center;
margin-right: 30px;
width: 300px;
}

.estabelecimento div{
    align-content: center;
}



form{
    color: rgb(62, 113, 253);
    margin-top: 100px;
    font-size: 45px;
    margin-left: 100px;
    text-align: center;
}

.cadastro input{
    font-size: 40px;
    width: 800px;
}

.cadastro{
    margin-top: 30px;
}

.msg{
    margin-top: 30px;
    margin-bottom: 20px;

}

.msg textarea{
font-size: 30px;
}


.ops{
    margin-right: 625px;
    margin-top: 30px;
}

.hora{
    font-size: 45px;
    margin-top: 30px;
}

.novidades{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button{
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(0, 60, 255);
    border:none;
    color: white;
    text-align: center;
    font-size: 50px;
    width: 40pc;
    border-radius: 10px;
    
}

/*Footer*/
footer{
    text-align: center;
    padding: 50px;
    background-color: #3e71fd;
    display: flex;
    box-shadow: 10px 0px 15px 10px black;
}

.contatos{
    color:rgb(0, 0, 0)
}

.contatos img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.contatos ul p{
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
}

.contatos ul li{
    display: table;
    padding-bottom: 10px;
}

.contatos ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.logo{
    margin-left: 37%;
}